MCP_SERVER_URL=http://localhost:4000/sse
# for embeddings -> temporary
OPENAI_API_KEY=
PLANNER_LLM_MODEL=xai/grok-3-mini-beta
PLANNER_API_KEY=
ANALYSIS_LLM_MODEL=xai/grok-3-mini-beta
ANALYSIS_API_KEY=